.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.modal-content {
    width: 30em;
    height 20em;
    border: 2px solid black;
    margin: 3em auto;
}
